<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simnetworkanalyser">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.deviceinfo.DeviceInfoActivity"
            android:label="@string/title_activity_device_info"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.networkinfo.NetworkInfoActivity"
            android:label="@string/title_activity_network_info"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flowtest.FlowTestActivity"
            android:label="@string/title_activity_flow_test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.flowtest.chart.FlowLineChartActivity"
            android:label="@string/title_activity_flow_test"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <service android:name=".services.MonitorService" />

    </application>

</manifest>